
@rendermode InteractiveServer
@inject StateService StateService


<p>Utilisateur authentifié : @(StateService.State.IsUserAuthenticated ? "Oui" : "Non")</p>
<p>Thème actuel : @StateService.State.Theme</p>

@code {
    protected override void OnInitialized()
    {
        StateService.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        StateService.OnStateChange -= StateHasChanged;
    }
}
