@page "/login"
@inject AppState State

<h3>Login</h3>

@if (State.IsUserAuthenticated)
{
    <p>Bienvenue, utilisateur authentifié !</p>
    <button @onclick="Logout">Se déconnecter</button>
}
else
{
    <p>Veuillez vous connecter.</p>
    <button @onclick="Login1">Se connecter</button>
}


@code {
    private void Login1()
    {
        State.SetUserAuthenticated(true);
    }

    private void Logout()
    {
        State.SetUserAuthenticated(false);
    }

    private void Reset()
    {
        State.Reset();
    }
}
